#main-content{
  display: inline-block;
  padding: 0;
  margin: 0;
  max-width: 512px !important; 
  max-height: 512px !important;
  background: url('../images/arena.png') no-repeat -8px -29px;
};

.canvas{
}